@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
	box-sizing: border-box;	
	padding: 0;
	margin: 0;
	overflow: hidden;
}
